In [1]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
df = pd.DataFrame(
    {'Type': ["A" , "B" , "C" , "D" , "E" , "F" , "G"]  ,  
     'Valuez' : [25, 24 , 20, 14, 13 ,21 , 18]   
    }
)

In [3]:
df['mean'] = df['Valuez'].mean()
df 
# ['Valuez']
# df['Valuez'].mean()

  Type  Valuez       mean
0    A      25  19.285714
1    B      24  19.285714
2    C      20  19.285714
3    D      14  19.285714
4    E      13  19.285714
5    F      21  19.285714
6    G      18  19.285714

In [4]:
df['Valuez-mean'] = df['Valuez'] - df['mean']

In [14]:
def assign_green(row): 
    if row['Valuez-mean'] < 0 :
        return row['Valuez-mean']
    else :
        return ""

def assign_red(row): 
    if row['Valuez-mean'] > 0 :
        return row['Valuez-mean']
    else :
        return ""

df['green'] = df.apply(assign_green , axis=1)
df['red'] = df.apply(assign_red, axis=1)
df


# df.type
# print(df['green'].dtypes)

  Type  Valuez       mean  Valuez-mean     green       red
0    A      25  19.285714     5.714286            5.714286
1    B      24  19.285714     4.714286            4.714286
2    C      20  19.285714     0.714286            0.714286
3    D      14  19.285714    -5.285714 -5.285714
4    E      13  19.285714    -6.285714 -6.285714
5    F      21  19.285714     1.714286            1.714286
6    G      18  19.285714    -1.285714 -1.285714