## query using PYTHON

In [11]:
import mysql.connector as MySQLdb 
import pandas as pd 
%load_ext sql
%sql mysql+mysqlconnector://Eners:imDev888@127.0.0.1:3306/schema_001

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: Eners@schema_001'

In [19]:
%sql SELECT * FROM income_statement LIMIT 3 ; 

result = %sql SELECT * FROM income_statement
df = result.DataFrame()

 * mysql+mysqlconnector://Eners:***@127.0.0.1:3306/schema_001
3 rows affected.
 * mysql+mysqlconnector://Eners:***@127.0.0.1:3306/schema_001
1000 rows affected.

In [23]:
df.loc[0]

id                               1
business_name          Lehner-Ward
manager            Jarib Welbelove
date                      November
product_sales                75239
service_revenue              72731
raw_material                  7354
labor                         8501
salaries_wages                7437
rent_exps                     6316
supplies_exps                 6651
marketing_exps                5993
utillities_exps               8487
depreciation                  7709
Name: 0, dtype: object

In [46]:
df['gross_profit'] =  ( df['product_sales'] + df['service_revenue']) - (df['raw_material']+ df['labor']+ df['salaries_wages']) 
# df.loc[0] 

df['operating_income'] = ( df['product_sales'] + df['service_revenue']) -   (df['raw_material']+ df['labor']+ df['salaries_wages'] + df['supplies_exps'] + df['rent_exps']+ df['marketing_exps']+ df['utillities_exps'] ) 

df['net_income'] = ( df['product_sales'] + df['service_revenue']) -   (df['raw_material']+ df['labor']+ df['salaries_wages'] + df['supplies_exps'] + df['rent_exps']+ df['marketing_exps']+ df['utillities_exps'] + df['depreciation'])

df.loc[0]

id                                1
business_name           Lehner-Ward
manager             Jarib Welbelove
date                       November
product_sales                 75239
service_revenue               72731
raw_material                   7354
labor                          8501
salaries_wages                 7437
rent_exps                      6316
supplies_exps                  6651
marketing_exps                 5993
utillities_exps                8487
depreciation                   7709
gross_profit                 124678
operating_income              97231
net_income                    89522
Name: 0, dtype: object

In [45]:
df

,id,business_name,manager,date,product_sales,service_revenue,raw_material,labor,salaries_wages,rent_exps,supplies_exps,marketing_exps,utillities_exps,depreciation,gross_profit,operating_income,net_income
0,1,Lehner-Ward,Jarib Welbelove,November,75239,72731,7354,8501,7437,6316,6651,5993,8487,7709,124678,97231,89522
1,2,Schmeler-Gottlieb,Gualterio Dorrins,February,71218,82939,4273,7907,6801,6371,6241,5092,6202,5332,135176,111270,105938
2,3,Streich-Runte,Dirk Woffenden,June,82950,95349,5971,9321,7736,5202,9976,8050,9940,8153,155271,122103,113950
3,4,Labadie-Hettinger,Thornton Lindenbaum,May,86211,84444,4393,7946,3576,9776,7262,7997,7515,6864,154740,122190,115326
4,5,Schneider-Purdy,Arny Cumberpatch,May,75824,96866,7422,7034,3189,9008,9042,5223,9344,7639,155045,122428,114789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,"Mertz, Wisoky and Reichel",Ivette Neame,March,80980,93597,6290,6323,4526,5508,7914,5678,5857,5329,157438,132481,127152
996,997,Maggio-Strosin,Caren Lightwing,August,78278,91679,4154,6324,4663,6130,6262,6212,5064,8207,154816,131148,122941
997,998,Powlowski Group,Dar Blockwell,September,75788,92401,7446,9507,6767,8603,9798,8943,7657,5458,144469,109468,104010
998,999,Quitzon-Wilderman,Viviene Tittershill,February,89017,70701,6305,7792,4066,5389,6918,9430,9906,7328,141555,109912,102584
999,1000,"Bergnaum, Gusikowski and Harvey",Suzann Leadstone,September,92987,95876,5085,8402,4172,7933,7903,9849,6636,6291,171204,138883,132592