In [ ]:

# db_path = 'income_statement.sql'

# engine = create_engine(f"sqlite:///{db_path}") 

# print(engine.table_names())
# # metadata = MetaDat()  
# # metadata.reflect(bind=engine)

# # user_table = metadata.table[employee]

In [ ]:
# from sqlalchemy import create_engine
# import MySQLdb

In [ ]:


username = 'Eners'
# password = 'imDev888'
password = "0912"; 
hostname = "127.0.0.1"
# hostname = "conn01"
port = 3306
database_name = 'basee'

# Create an engine to connect to the MySQL database
engine = create_engine(f'mysqldb://{username}:{password}@127.0.0.1:{port}/{database_name}')


# engine = create_engine('mysql://Eners:imDev888@localhost:3306/basee')
# engine = create_engin

# Solo mysql.connector
without mysql.connector

In [ ]:
# import MySQLdb 


import mysql.connector as MySQLdb 
import pandas as pd
# import mysql.

connection = MySQLdb.connect(host='127.0.0.1', user='Eners', passwd='imDev888', db='basee')

cursor = connection.cursor()
cursor.execute('SELECT * FROM db_emplooyee LIMIT 3')

results = cursor.fetchall()

df_result = pd.DataFrame(results)


df_result


# for index,row in enumerate(results): 
    
#     result
#     print(row) 
#     sets = []
#     sets.append(row) 
    
#     print(type(row))
    
#     if index == 2 :
#         break 
    

# print(sets)
# print(results)

In [ ]:
AA = (11, 33)
BB = (55 , 66)


# print(a)
# print([AA,BB])
# print(AA + BB)

words = ['hello', 'world', 'python', 'list', 'comprehension']

WORDS = [ word.upper() for word in words]

# WORDS

In [ ]:
words = ['hello', 'world', 'python', 'list', 'comprehension']
nums = [7  , 7, 2 ]

# for x in words:
lest = list(nums)

# CREAT_ENGINE

In [140]:
from sqlalchemy import create_engine, MetaData, Table, select
## this this sqlalchemy.create_engine but cannow accept create_engine only 

engine = create_engine('mysql+mysqlconnector://Eners:imDev888@127.0.0.1:3306/basee', echo=True)
metadata = MetaData() 
tb_employee = Table('db_emplooyee' , metadata , autoload=True , autoload_with=engine)

print(repr (metadata.tables['db_emplooyee']) )


# (n) print(type(MetaData())) 
# print()

2024-02-09 14:07:47,739 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-02-09 14:07:47,739 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-09 14:07:47,739 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-02-09 14:07:47,739 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-09 14:07:47,739 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-02-09 14:07:47,739 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-09 14:07:47,755 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `db_emplooyee`
2024-02-09 14:07:47,755 INFO sqlalchemy.engine.Engine [raw sql] {}
Table('db_emplooyee', MetaData(), Column('id', INTEGER(), table=<db_emplooyee>), Column('first_name', VARCHAR(length=50), table=<db_emplooyee>), Column('last_name', VARCHAR(length=50), table=<db_emplooyee>), Column('email', VARCHAR(length=50), table=<db_emplooyee>), Column('gender', VARCHAR(length=50), table=<db_emplooyee>), Column('city', VARCHAR(length=50), table=<db_emplooyee>), Column('color', VARCHAR(length=50), table=<db_emplooyee>), Column('department', VARCHAR(length=24), table=<db_emplooyee>), schema=None)

In [104]:
from sqlalchemy import create_engine , MetaData, Table, select
import mysql.connector as MySQLdb

engine = create_engine('mysql+mysqlconnector://Eners:imDev888@127.0.0.1:3306/basee', echo=True)

metadata = MetaData() 
conn = engine.connect()
tb_emplooyee = Table('db_emplooyee' , metadata, autoload=True , autoload_with=engine) 

print(repr(metadata.tables['db_emplooyee'])) 
 



# with engine.connect() as conn : 
#     query = select(['db_emplooyee'])
#     result = conn.execute(query)
    
#     headers = result.keys()
    
    
# conn = engine.connect()

# metadata.reflect(bind=engine)

# users_table = Table('Basee')

# engine.execute('SELECT * FROM db_emplooyee')

2024-02-09 14:04:34,821 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-02-09 14:04:34,821 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-09 14:04:34,836 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-02-09 14:04:34,836 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-09 14:04:34,839 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-02-09 14:04:34,839 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-02-09 14:04:34,853 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `db_emplooyee`
2024-02-09 14:04:34,853 INFO sqlalchemy.engine.Engine [raw sql] {}
Table('db_emplooyee', MetaData(), Column('id', INTEGER(), table=<db_emplooyee>), Column('first_name', VARCHAR(length=50), table=<db_emplooyee>), Column('last_name', VARCHAR(length=50), table=<db_emplooyee>), Column('email', VARCHAR(length=50), table=<db_emplooyee>), Column('gender', VARCHAR(length=50), table=<db_emplooyee>), Column('city', VARCHAR(length=50), table=<db_emplooyee>), Column('color', VARCHAR(length=50), table=<db_emplooyee>), Column('department', VARCHAR(length=24), table=<db_emplooyee>), schema=None)

In [ ]:
# conn = engine.connect()

# query = engine.select(['db_emplooyee'])

In [ ]:
print(tb_emplooyee.columns.keys())