In [1]:
import mysql.connector as MySQLdb 
import numpy as np
from matplotlib import  pyplot as plt
import pandas as pd 
from scipy import stats
%load_ext sql
%sql mysql+mysqlconnector://Eners:imDev888@127.0.0.1:3306/schema_001

'Connected: Eners@schema_001'

In [22]:
%sql SELECT * FROM portune500 LIMIT 3;

 * mysql+mysqlconnector://Eners:***@127.0.0.1:3306/schema_001
3 rows affected.

[(1, 'Walmart', 'Wal-Mart Stores, Inc.', 'WMT', 'http://www.walmart.com', 'Bentonville, AR', 'Retailing', 'General Merchandisers', 2300000, 485873, 0.8, 13643, -7.2, 198825, 77798),
 (2, 'Berkshire Hathaway', 'Berkshire Hathaway Inc.', 'BRKA', 'http://www.berkshirehathaway.com', 'Omaha, NE', 'Financials', 'Insurance: Property and Casualty (Stock)', 367700, 223604, 6.1, 24074, 0.0, 620854, 283001),
 (3, 'Apple', 'Apple, Inc.', 'AAPL', 'http://www.apple.com', 'Cupertino, CA', 'Technology', 'Computers, Office Equipment', 116000, 215639, -7.7, 45687, -14.4, 321686, 128249)]

In [86]:
%sql SELECT * FROM portune500 LIMIT 3 ;

 * mysql+mysqlconnector://Eners:***@127.0.0.1:3306/schema_001
3 rows affected.

[(1, 'Walmart', 'Wal-Mart Stores, Inc.', 'WMT', 'http://www.walmart.com', 'Bentonville, AR', 'Retailing', 'General Merchandisers', 2300000, 485873, 0.8, 13643, -7.2, 198825, 77798),
 (2, 'Berkshire Hathaway', 'Berkshire Hathaway Inc.', 'BRKA', 'http://www.berkshirehathaway.com', 'Omaha, NE', 'Financials', 'Insurance: Property and Casualty (Stock)', 367700, 223604, 6.1, 24074, 0.0, 620854, 283001),
 (3, 'Apple', 'Apple, Inc.', 'AAPL', 'http://www.apple.com', 'Cupertino, CA', 'Technology', 'Computers, Office Equipment', 116000, 215639, -7.7, 45687, -14.4, 321686, 128249)]