In [4]:
import pandas as pd  
import numpy as np

In [5]:
# group = 


## CREATE group sequence with the interval of 5
    # [ 5 - 10 , 11-15 ,  16-20 ,   21-25  ] 
    
for x in range(5, 30 , 5):
    if x == 5:
        print(f"{x} - {x + 5 } ") 
    else : 
        print(f"{x + 1 } - {x + 5}")

## sampoink code 
# -- -----------------------------

5 - 10
11 - 15
16 - 20
21 - 25
26 - 30

In [29]:
# -----------------------

## ## CREATE group sequence with the interval of 5
    ## code Challenge :  [ 5 - 10 , 11-15 ,  16-20 ,   21-25  ] a
    # append to class 

classx = []
for x in range(5, 100, 5):
    if x == 5:
        # print(f"{x} - {x + 5 } ")  
        sub_class = str(x)+"-"+str(x+5)
        classx.append(sub_class)                
    else : 
        # print(f"{x + 1 } - {x + 5}")
        sub_class = str(x+1)+"-"+str(x+5)
        classx.append(sub_class)
print(classx)
print(len(classx))
# 
#

['5-10', '11-15', '16-20', '21-25', '26-30', '31-35', '36-40', '41-45', '46-50', '51-55', '56-60', '61-65', '66-70', '71-75', '76-80', '81-85', '86-90', '91-95', '96-100']
19

In [6]:

## ## CREATE group sequence with the interval of 5
    # [ 5 - 10 , 11-15 ,  16-20 ,   21-25  ] a
    # append to class  
    # make it reverse huhuhuh


clasS = []
for s in range(46 , 20 , -5):    
    print(f"{s} - {s + 4}")
    sub_clasS = str(s)+"-"+str(s+4)
    clasS.append(sub_clasS)

print(clasS)

46 - 50
41 - 45
36 - 40
31 - 35
26 - 30
21 - 25
['46-50', '41-45', '36-40', '31-35', '26-30', '21-25']

In [7]:
# def breaks() : 
#     print(" The lengths of list 'clasS' and 'given' are unmatched. \n"* 3) 


## addint to functino to fix if statement in 1st validation 
## addint to functino to fix if statement in 1st validation 
def match(grops) : 

    # grops['sampoink'] = grops['score_'] - 0.3
    # display(grops) 
    # return grops

    grops[['1st', '2nd']] = grops['class_'].str.split('-', expand=True)  
    grops[['1st', '2nd']] = grops[['1st', '2nd']].astype(int)
    grops.drop('2nd' , axis=1 , inplace=True) 
    grops['lowerb'] =  grops['1st'] - 0.5 
    
        # group['cumfreq'] = group.groupby('score_')['score_'].transform('size').cumsum()
    
    grops.sort_values(by='1st', ascending=True, inplace=True)
    grops['cf']= grops['score_'].cumsum() 

    return grops


# def calcu_decile () : 

    

    # display (grops)     

    
    # # print("Does it work??")

            ### KN / 4 
    # sum_score = group['score_'].sum() 
    # KNd4 = ((given_quartile * sum_score)/4)   
    # if KNd4 > 


## given should match in len to len

given = [4 , 8, 11 , 9, 12, 6]
# accept argument with longer list or more ! 
given_quartile = 1 
# given_decile = []
# giveb_percentile = []

## if stament validating lenght of two list and must match both lenght

if len(clasS) == len(given) :
    group = pd.DataFrame({
        'class_': clasS  , 
        'score_' : given  
        
    }) 
    
    match(group) 
        
    # if given_percentil == [] :
            
    sum_score = group['score_'].sum() 
    KNd4 = ((given_quartile * sum_score)/4)   
    print(f" KNd4 \t: \t{KNd4}") 


    group_size = group.index.size

    for x in range(group_size -1, -1, -1) :
        group_cf = group['cf'][x] 
        if group_cf > KNd4: 
            # print("should be stop")     

            lowerb_selected = group['lowerb'][x]
            print(f"lower selected \t: \t{lowerb_selected}")
            
            cf_before = group['cf'][x+1]
            print(f"cf_before \t: \t{cf_before}") 
            
            score_selected = group['score_'][x]
            print(f"score selected  : \t{score_selected}")
            
            FreqQK = group['score_'][x]
            print(f"FQk \t\t: \t{FreqQK}")
    
            interval = group['1st'][0] - group['1st'][1]
            print(f"interval \t: \t{interval}")

            
            
            break 
        else : 
            print(f"{group_cf} are greater than {KNd4} \n") 

    display(group) 
    # print(group.dtypes) 
    # display(group)

    # range
    group.loc[0]
    # print(len(group['cf']))    
            
else :
    print(" The lengths of list 'clasS' and 'given' are unmatched. \n"* 3) 
    
    # exit()
    # breaks()        
    # break
# group

# df['cumsum_col1'] = df['col1'].cumsum()

 KNd4 	: 	12.5
6 are greater than 12.5

lower selected 	: 	25.5
cf_before 	: 	6
score selected  : 	12
FQk 		: 	12
interval 	: 	5

  class_  score_  1st  lowerb  cf
5  21-25       6   21    20.5   6
4  26-30      12   26    25.5  18
3  31-35       9   31    30.5  27
2  36-40      11   36    35.5  38
1  41-45       8   41    40.5  46
0  46-50       4   46    45.5  50

In [10]:

keyen = 13
group_size = group.index.size

for x in range(group_size -1, -1, -1) :
    group_cf = group['cf'][x] 
    if group_cf > keyen: 
        # print("should be stop")     

        lowerb_selected = group['lowerb'][x]
        print(f"lower selected \t: \t{lowerb_selected}")
        
        cf_before = group['cf'][x+1]
        print(f"cf_before \t: \t{cf_before}") 
        
        score_selected = group['score_'][x]
        print(f"score selected  : \t{score_selected}")
        
        FreqQK = group['score_'][x]
        print(f"FQk \t\t: \t{FreqQK}")

        interval = group['1st'][0] - group['1st'][1]
        print(f"interval \t: \t{interval}")
        
        
        break 
    else : 
        print(f"{group_cf} are greater than {keyen} \n")

6 are greater than 13

lower selected 	: 	25.5
cf_before 	: 	6
score selected  : 	12
FQk 		: 	12
interval 	: 	5

In [12]:
# print(group['cf'].int.len())
# count(group)


# trial mathching
# keyen = 13

# def pepsi(ceef) :
#     if ceef > keyen :
#         print(f"{ceef} are greater than keyen ")
#         # return  "shitnes"
#         # return "gretir"
#     else : 
#         print(f"{ceef} are less than keyen")
        # return "less tans"
    

# var_1 = group['cf'].apply(pepsi)

# print(var_1) 
# for x in range(group.index.size) 
    # group.loc[] 


# ------------------------------
group_size = group.index.size

for x in range(group_size -1, -1, -1) :
    group_cf = group['cf'][x] 
    if group_cf > keyen: 
        # print("should be stop")     

        lowerb_selected = group['lowerb'][x]
        
        print(f"lower selected \t: \t{lowerb_selected}")
        cf_before = group['cf'][x+1]
        print(f"cf_before \t: \t{cf_before}")
        score_selected = group['score_'][x]
        print(f"score selected  : \t{score_selected}")
        
        break 
    else : 
        print(f"{group_cf} are greater than {keyen} \n") 
    
# ------------------------------------------------------- 
    # print(x)
    # group.loc
    # group.loc[X, "cf" ]

# print(group['cf'][x])

# print(group.index.size) 
# group.loc[0, "cf" ]

6 are greater than 13

lower selected 	: 	25.5
cf_before 	: 	6
score selected  : 	12

In [ ]:
# def pepsi(age): 

    
#     if age > 8 : 
#         return "greatir"
#     else :
#         return "falsi"

# group["trial"] = group['score_'].apply(pepsi)

In [ ]:
# def breaks() : 
#     print(" The lengths of list 'clasS' and 'given' are unmatched. \n"* 3) 


## addint to functino to fix if statement in 1st validation 
## addint to functino to fix if statement in 1st validation 

# -----------------------------

def match() : 
 
    group[['1st', '2nd']] = group['class_'].str.split('-', expand=True)  
    group[['1st', '2nd']] = group[['1st', '2nd']].astype(int)
    group.drop('2nd' , axis=1 , inplace=True) 
    group['lowerb'] =  group['1st'] - 0.5 
    
    # group['cumfreq'] = group.groupby('score_')['score_'].transform('size').cumsum()
    group.sort_values(by='1st', ascending=True, inplace=True)
    group['cf']= group['score_'].cumsum() 

    display(group)


# ------------------------------- 
    # return group
    # group['cf']
    
    # sum_score = group['score_'].sum() 
    # print(group)
    # print("Does it work??")
    # print(sum_score) 
    
    # KN / 4
    # KNd4 = ((given_quartile * sum_score)/4)   
    # if KNd4 >


## given should match in len to len

given = [4 , 8, 11 , 9, 12, 8]
# accept argumento with longer list or more ! 
given_quartile = 1


## if stament validating lenght of two list and must match both lenght

if len(clasS) == len(given) :
    group = pd.DataFrame({
        'class_': clasS  , 
        'score_' : given  
        
    }) 
    match()
    
    # group[['1st', '2nd']] = group['class_'].str.split('-', expand=True)  
    # group[['1st', '2nd']] = group[['1st', '2nd']].astype(int)
    # group.drop('2nd' , axis=1 , inplace=True) 
    # group['lowerb'] =  group['1st'] - 0.5 
    
    # # group['cumfreq'] = group.groupby('score_')['score_'].transform('size').cumsum()
    # group.sort_values(by='1st', ascending=True, inplace=True)
    # group['cf']= group['score_'].cumsum() 

    # group
    # display(group)
    # print("does it work ?")
else :
    print(" The lengths of list 'clasS' and 'given' are unmatched. \n"* 3) 
    
# group.info

In [41]:

## List attempt condition
## List attempt condition 

given = [4 , 8, 11 , 9, 12, 6]
# accept argument with longer list or more ! 
given_quartile = [1, 3]
given_decile = []
# giveb_percentile = []


def selected_(KNd4, q):
    print("\n\n\n")
    print("----------------------------------------")
    print(f"\t This are from functin KNd4_Q : {KNd4}s")
   
    for x in range(group_size -1, -1, -1) :
        group_cf = group['cf'][x]
        # print(f" group_cf \t: \t{group_cf} ") 
        # print("------------------------------")
        if group_cf >  KNd4: 
            # 
            # print("should be stop")    
            print("\n\n\n\n")
            print(f"KNd4_Q {q} \t\t: \t{KNd4}")
            lowerb_selected = group['lowerb'][x]            
            print(f"lower selected \t\t: \t{lowerb_selected}")
            cf_before = group['cf'][x+1]
            print(f"cf_before \t\t: \t{cf_before}")
            score_selected = group['score_'][x]
            print(f"score selected (FQK) \t: \t{score_selected}")
            break     
        else : 
            print(f"{group_cf} are greater than {KNd4_Qlist[q]}") 
if len(clasS) == len(given) :
    group = pd.DataFrame({
        'class_': clasS  , 
        'score_' : given          
    }) 
    match(group) 
    display(group)    
    if given_quartile == [] :
        print(f"quartigle are empty \n\n") 
    else :        
        KNd4_Qlist = []
        for q in range(0,len(given_quartile) ):
            ##print(q
            KNd4_Q = ((given_quartile[q] * sum_score/4))               
            # print(f" KNd4_Q {given_quartile[q]} \t: \t{KNd4_Q}") 
            KNd4_Qlist.append(KNd4_Q)  

            selected_(KNd4_Q , q)
            # group_size = group.index.size
            
            # for x in range(group_size -1, -1, -1) :
            #     group_cf = group['cf'][x] 
            #     print(f" group_cf \t: \t{group_cf}")
            #     print("------------------------------")
            #     if group_cf >  KNd4_Qlist[q]: 
            #         print("should be stop")     
                    
            #         lowerb_selected = group['lowerb'][x]
                    
            #         print(f"lower selected \t: \t{lowerb_selected}")
            #         cf_before = group['cf'][x+1]
            #         print(f"cf_before \t: \t{cf_before}")
            #         score_selected = group['score_'][x]
            #         print(f"score selected  : \t{score_selected}")
            #         print("\n\n\n")
            #         print(f"{}")                        
                    # break 
                # else : 
                #     print(f"{group_cf} are greater than {KNd4_Qlist[q]} \n")                             



    
        # print(f"\n KNd4_Q list \t: \t{KNd4_Qlist}") 

            #if KNd4_Q > len
            
    if given_decile == [] :
        print(f" \n\n Decile are empty \n\n")
    else : 
        KNd10_D = ((given_decile * sum_score/10))        
        
        # print(f"KNd10_D \t: {} \t {KNd10_D}")

  class_  score_  1st  lowerb  cf
5  21-25       6   21    20.5   6
4  26-30      12   26    25.5  18
3  31-35       9   31    30.5  27
2  36-40      11   36    35.5  38
1  41-45       8   41    40.5  46
0  46-50       4   46    45.5  50

----------------------------------------
	 This are from functin KNd4_Q : 12.5s


6 are greater than 12.5

KNd4_Q 0 		: 	12.5
lower selected 		: 	25.5
cf_before 		: 	6
score selected (FQK) 	: 	12




----------------------------------------
	 This are from functin KNd4_Q : 37.5s


6 are greater than 37.5

18 are greater than 37.5

27 are greater than 37.5

KNd4_Q 1 		: 	37.5
lower selected 		: 	35.5
cf_before 		: 	27
score selected (FQK) 	: 	11


 Decile are empty

In [115]:

## List attempt condition
## List attempt condition 

given = [4 , 8, 11 , 9, 12, 6]
# accept argument with longer list or more ! 
given_quartile = []
given_decile = [3]
given_percentile = [30 , 29 ]


def selected_(KNd4, q, KN_type, KN_list):
    print("\n\n\n")
    print("----------------------------------------")    
    print(f"\n This are from functin {KN_type} : {KNd4}")
    for x in range(group_size -1, -1, -1) :
        group_cf = group['cf'][x]
        # print(f" group_cf \t: \t{group_cf} ") 
        # print("------------------------------")
        if group_cf >=  KNd4: 
            # 
            print("\t\t\t should be stop ! ")     
            
            print("\n\n") 
            print(f"{KN_type} {q} \t\t: \t{KNd4}")
            lowerb_selected = group['lowerb'][x]            
            print(f"lower selected \t\t: \t{lowerb_selected}")
            cf_before = group['cf'][x+1]
            print(f"cf_before \t\t: \t{cf_before}")
            score_selected = group['score_'][x]
            print(f"score selected (FQK) \t: \t{score_selected}")
            break     
        else :             
            # print(" \n\n elseeeeeee ")
            print(f"{group_cf} are less than {KN_list[q]}") 
if len(clasS) == len(given) :
    group = pd.DataFrame({
        'class_': clasS  , 
        'score_' : given          
    }) 
    match(group) 
    display(group)    
    if given_quartile == [] :
        print(f"THE QUARTILE LIST ARE EMPTY  \n\n") 
    else :        
        KNd4_Qlist = [] 
        for q in range(0,len(given_quartile) ):
            type = 'KNd4_Quartile'
            KNd4_Q = ((given_quartile[q] * sum_score/4))               
            # print(f" KNd4_Q {given_quartile[q]} \t: \t{KNd4_Q}") 
            KNd4_Qlist.append(KNd4_Q)   

            selected_(KNd4_Q , q, type, KNd4_Qlist) 


    print("----------------------------------------------- \n\n\n")
     
    right_aligned = 'DECILE CALCU'.rjust(20) 
    print(right_aligned * 3)
    if given_decile == [] : 
        print(f" \n\n Decile are empty \n\n")
    else : 
        KNd10_Dlist = []
        for dd in range(0,len(given_decile)) :            
            # print()
            type = 'KNn10_Decile'
            KNd10_D = ((given_decile[dd] * sum_score/10))        
            KNd10_Dlist.append(KNd10_D)
            selected_(KNd10_D , dd, type, KNd10_Dlist )
            # print(f"KNd10_D \t: {} \t {KNd10_D}") 
    
    print("----------------------------------------------- \n\n\n")
    right_aligned = 'PERCENTILE CALCU'.rjust(20) 
    print(right_aligned * 3)

    if given_percentile == [] : 
        print(f" \n\n Percentile are empty \n\n")
    else : 
        KNd100_Plist = []
        for dd in range(0,len(given_percentile)) :            
            # print()
            type = 'KNn10_Decile'
            KNd100_P = ((given_percentile[dd] * sum_score/100))        
            KNd100_Plist.append(KNd100_P)
            selected_(KNd100_P , dd, type, KNd100_Plist )
            # print(f"KNd10_D \t: {} \t {KNd10_D}")

  class_  score_  1st  lowerb  cf
5  21-25       6   21    20.5   6
4  26-30      12   26    25.5  18
3  31-35       9   31    30.5  27
2  36-40      11   36    35.5  38
1  41-45       8   41    40.5  46
0  46-50       4   46    45.5  50

THE QUARTILE LIST ARE EMPTY


-----------------------------------------------



        DECILE CALCU        DECILE CALCU        DECILE CALCU




----------------------------------------

 This are from functin KNn10_Decile : 15.0
6 are less than 15.0
			 should be stop !



KNn10_Decile 0 		: 	15.0
lower selected 		: 	25.5
cf_before 		: 	6
score selected (FQK) 	: 	12
-----------------------------------------------



    PERCENTILE CALCU    PERCENTILE CALCU    PERCENTILE CALCU




----------------------------------------

 This are from functin KNn10_Decile : 15.0
6 are less than 15.0
			 should be stop !



KNn10_Decile 0 		: 	15.0
lower selected 		: 	25.5
cf_before 		: 	6
score selected (FQK) 	: 	12




----------------------------------------

 This are from functin KNn10_Decile : 14.5
6 are less than 14.5
			 should be stop !



KNn10_Decile 1 		: 	14.5
lower selected 		: 	25.5
cf_before 		: 	6
score selected (FQK) 	: 	12