In [1]:
import pandas as pd  
import numpy as np

In [2]:
# group = 


## CREATE group sequence with the interval of 5
    # [ 5 - 10 , 11-15 ,  16-20 ,   21-25  ] 
    
for x in range(5, 30 , 5):
    if x == 5:
        print(f"{x} - {x + 5 } ") 
    else : 
        print(f"{x + 1 } - {x + 5}")

## sampoink code 
# -- -----------------------------

5 - 10
11 - 15
16 - 20
21 - 25
26 - 30

In [3]:
#

In [4]:
# -----------------------

## ## CREATE group sequence with the interval of 5
    ## code Challenge :  [ 5 - 10 , 11-15 ,  16-20 ,   21-25  ] a
    # append to class 

classx = []
for x in range(5, 100, 5):
    if x == 5:
        print(f"{x} - {x + 5 } ")  
        sub_class = str(x)+"-"+str(x+5)
        classx.append(sub_class)                
    else : 
        print(f"{x + 1 } - {x + 5}")
        sub_class = str(x+1)+"-"+str(x+5)
        classx.append(sub_class)
print(classx)
print(len(classx))
# 
#

5 - 10
11 - 15
16 - 20
21 - 25
26 - 30
31 - 35
36 - 40
41 - 45
46 - 50
51 - 55
56 - 60
61 - 65
66 - 70
71 - 75
76 - 80
81 - 85
86 - 90
91 - 95
96 - 100
['5-10', '11-15', '16-20', '21-25', '26-30', '31-35', '36-40', '41-45', '46-50', '51-55', '56-60', '61-65', '66-70', '71-75', '76-80', '81-85', '86-90', '91-95', '96-100']
19

In [5]:

## ## CREATE group sequence with the interval of 5
    # [ 5 - 10 , 11-15 ,  16-20 ,   21-25  ] a
    # append to class  
    # make it reverse huhuhuh


clasS = []
for s in range(46 , 20 , -5):    
    print(f"{s} - {s + 4}")
    sub_clasS = str(s)+"-"+str(s+4)
    clasS.append(sub_clasS)

print(clasS)

46 - 50
41 - 45
36 - 40
31 - 35
26 - 30
21 - 25
['46-50', '41-45', '36-40', '31-35', '26-30', '21-25']

In [50]:
given = [4 , 8, 11 , 9, 12, 6 ]

group = pd.DataFrame({
    'class_': clasS  , 
    'score_' : given  
    
})

group

  class_  score_
0  46-50       4
1  41-45       8
2  36-40      11
3  31-35       9
4  26-30      12
5  21-25       6

In [56]:

# def pepsi(age): 
    
#     if age > 8 : 
#         return "greatir"
#     else :
#         return "falsi"

# group["trial"] = group['score_'].apply(pepsi)




group[['1st', '2nd']] = group['class_'].str.split('-', expand=True)  
group[['1st', '2nd']] = group[['1st', '2nd']].astype(int)
group.drop('2nd' , axis=1 , inplace=True) 
group['lowerb'] =  group['1st'] - 0.5 
group['cumfreq'] = group.groupby('score_')['score_'].transform('size').cumsum()

group


# df['cumsum_col1'] = df['col1'].cumsum()

  class_  score_  1st  lowerb  cumfreq
0  46-50       4   46    45.5        1
1  41-45       8   41    40.5        2
2  36-40      11   36    35.5        3
3  31-35       9   31    30.5        4
4  26-30      12   26    25.5        5
5  21-25       6   21    20.5        6

In [65]:
group.sort_values(by='1st', ascending=True, inplace=True)
group

  class_  score_  1st  lowerb  cumfreq
5  21-25       6   21    20.5        6
4  26-30      12   26    25.5        5
3  31-35       9   31    30.5        4
2  36-40      11   36    35.5        3
1  41-45       8   41    40.5        2
0  46-50       4   46    45.5        1