In [2]:
import pandas as pd  
import numpy as np

In [77]:
# group = 


## CREATE group sequence with the interval of 5
    # [ 5 - 10 , 11-15 ,  16-20 ,   21-25  ] 
    
for x in range(5, 30 , 5):
    if x == 5:
        print(f"{x} - {x + 5 } ") 
    else : 
        print(f"{x + 1 } - {x + 5}")

## sampoink code 
# -- -----------------------------

5 - 10
11 - 15
16 - 20
21 - 25
26 - 30

In [37]:
#

'14free'

In [184]:
# -----------------------

## ## CREATE group sequence with the interval of 5
    # [ 5 - 10 , 11-15 ,  16-20 ,   21-25  ] a
    # append to class 

classx = []
for x in range(5, 100, 5):
    if x == 5:
        print(f"{x} - {x + 5 } ")  
        sub_class = str(x)+"-"+str(x+5)
        classx.append(sub_class)                
    else : 
        print(f"{x + 1 } - {x + 5}")
        sub_class = str(x+1)+"-"+str(x+5)
        classx.append(sub_class)
print(classx)
print(len(classx))
# 
#

5 - 10
11 - 15
16 - 20
21 - 25
26 - 30
31 - 35
36 - 40
41 - 45
46 - 50
51 - 55
56 - 60
61 - 65
66 - 70
71 - 75
76 - 80
81 - 85
86 - 90
91 - 95
96 - 100
['5-10', '11-15', '16-20', '21-25', '26-30', '31-35', '36-40', '41-45', '46-50', '51-55', '56-60', '61-65', '66-70', '71-75', '76-80', '81-85', '86-90', '91-95', '96-100']
19

In [185]:

## ## CREATE group sequence with the interval of 5
    # [ 5 - 10 , 11-15 ,  16-20 ,   21-25  ] a
    # append to class  
    # make it reverse huhu



clasS = []
for s in range(46 , 20 , -5):    
    print(f"{s} - {s + 4}")
    sub_clasS = str(s)+"-"+str(s+4)
    clasS.append(sub_clasS)

print(clasS)

46 - 50
41 - 45
36 - 40
31 - 35
26 - 30
21 - 25
['46-50', '41-45', '36-40', '31-35', '26-30', '21-25']

In [147]:
given = []

group = pd.DataFrame(
    {'class_': classx } , 
    {'score_' : given } 
    
)

NameError: name 'pd' is not defined